/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="submit"],
input[type=password],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    cursor: pointer;
    color: black;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* MSNs */
.App{
  background:black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color:#333;
}

/* HEADER START*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

header a{ 
  text-decoration: none;
}

nav ul {
  display: flex;
  color:white;
}

header nav ul li a{
  text-transform: uppercase;
}

.logout-click{
  cursor: pointer;
}

header li{
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 1px;
}

header li:hover{
 background-color: rgb(232,	195,	53	);
}

header a{
  color:white;
  text-decoration: none;
}

header a:visited{
  color:white;
  text-decoration: none;
}

.user-box a{
  text-decoration: none;
}

.user-box a:visited{
  color:black;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

/* HEADER END*/


/* CONTAINER START */
.container{
  display: flex;
  flex:1;
  justify-content: center;
  min-width: 60vw;
  max-width: 90vw; 
  margin: 0 auto;
  background-color: rgb(236, 234, 234);
  padding: 2%;
}
/* CONTAINER END */

/* USER START */
.user-page{
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60vh;
  /* min-width: 720px; */
}

.user-page section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
  text-align:center;
}

.user-page aside{
  width: 450px; 
  display: flex;
  flex-direction: column;
  text-align:center;
  flex:1;
}

.user-settings{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:black;
}

.user-settings h4{
  font-size: 1.25em;
}

.user-settings h4:hover{
  cursor: pointer;
}

.user-page aside h2{
  text-align: center;
  font-size: 2em;
}

.user-page section h2{
  font-size: 2em;
}

.user-page .user-saved-list{
  margin-top: 30px;
  text-align: center;
}
/* USER END */

/* HOME PAGE START */
.home-page{
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  justify-content: center;
  color: black;
}

.home-page .user-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-page .user-box h3{
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding:10px 5px 10px 5px;
  margin-left:20px;
  margin-right:20px;
  box-shadow: 5px 5px rgb(232,	195,	53	);
}

.home-page .user-box h3:hover{
background:rgb(232,	195,	53	);
color: black;
cursor: pointer;
box-shadow: 0px 0px;
}

.home-page h1{
  font-size: 3em;
}

.home-page h2{
  font-size: 2em;
}

.home-page h3{
  font-size: 1.5em;
}

.home-page h4{
  font-size: 1em;
}

.home-page div{
  padding:50px;
}
/* HOME PAGE END */




/* SEARCH PAGE START*/
.search-page{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.search-page .search-box{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-page .search-results{
  padding: 50px;
  color:black;
  width: 100%;
}
search-page .search-results ul{
display: flex;
flex-wrap: wrap
}

.search-page .search-results li{
margin:10px;
cursor: pointer;
/* display: flex;
justify-content: center; */
width: 300px;
}


.search-page .search-results li:hover{
  color: black;
}

.search-page .search-box input{
  margin: 10px;
  padding: 5px 0 5px 0px;
}

.search-page .search-box input[type="submit"]{
  padding: 5px;
  border: 1px solid white;  
  background-color: black;
  color: white;
  box-shadow: 0 9px #999;
}

.search-page .search-box input[type="submit"]:active{
box-shadow: 0 5px #666;
transform: translateY(4px);
}
/* SEARCH PAGE END*/

/* SEARCH RESULT START */
.posterDiv {
  margin: 5px 5px 30px 5px;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posterDiv:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.posterDiv img{
  margin: 10px;
  width: 70%;
  /* height: 75%; */
}

.posterDiv h3{
  color: rgb(232,	195,	53);
  text-align:center;
  font-size:1em;
  font-weight: 700;
}
/* SEARCH RESULT END */


/* GENERAL START */
.column-flex{
  display: flex;
  flex-direction: column;
}
/* GENERAL END */

/* REGISTER START */
.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.form-box input[type="submit"]{
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  border:1px solid black;
}

.form-box input[type="submit"]:hover{
  background-color: gray;
  color: white;  
}

.form-box input{
  padding:5px 5px 5px 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-box input[type="password"]{
  border:1px solid black;
  background-color: white;
  color:black;
  cursor: auto;
}
/* REGISTER END */

/* ABOUT START */
.about-box{
  height: 80vh;
  color:black;
}

.about-box h1{
  font-size:3em;
  margin-bottom: 30px;
  text-align: center;
}

.about-box h2{  
  font-size:2em;
  margin: 20px 0 20px 0;
  text-align: center;
}

.about-box h3{  
  font-size:1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.about-box h4{
  font-size:1.25em;
  margin-bottom: 20px;
}

.about-box p{
  margin: 0 auto;
  line-height: 1.4em;
}

.about-box ul{
    display: flex;
    flex-direction: column;  
}

.technologies{  
  margin-bottom: 50px;
}
/* ABOUT END  */

/* SHOW PAGE START */
.show-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.show-page .image-box{
  display: flex;
  justify-content: center;
  margin-right: 30px;
  flex: 1;
}

.image-box img{
  width: 100%;
  height: auto;
  max-width: 450px;
  max-height: 660px;
}

.show-page .info-box{
  flex: 1;
}

.show-page .detail-info{
  display: flex;
  flex-direction: column;
}

.show-page h1 {
 font-size:1.7em;
 margin-bottom:1.1em;
}

.show-page h2 {
  font-size:1.5em;
  margin-bottom:1.1em;
}

.show-page h3 {
font-size:1.3em;
margin-bottom:1.1em;
}

.show-page h4 {
font-size:1.1em;
margin-bottom:1.1em;
}

em{
font-weight: bold;
}

.show-page .info{
  margin: 20px 0 20px 0;
}

.show-page2 .seasons-episodes-box{
  margin:30px auto;
}

.show-page2 .seasons-episodes-box ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.show-page2 .seasons-episodes-box ul li{
  margin-top:20px;
  width: 300px;
}

.show-page2 .seasons-episodes-box ul li ul li{
  margin: 5px 0 5px 0;
  margin-left: 15px;
}

.show-page2 .seasons-episodes-box ul li ul li:hover{
  background-color:#333 ;
  color:white;
  cursor: pointer;
}

.show-page .summary{
  display: flex;
  flex-direction: column;
}

.show-page .summary h1{
  margin: 10px 0 10px 0;
  font-weight: bold;
}

.where-to-watch{
  display: flex;
  flex-direction: row;
  margin:0 auto;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center
}

.where-to-watch div{
  max-width: 250px;
  margin:15px;
}

.where-to-watch .logo-box{
  max-height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.where-to-watch div a{
  text-decoration: none;
  color: black;
}

.where-to-watch div a:visited{
  color: rgb(232,	195,	53);
}

.show-page article{
  display: flex;
  flex-direction: column;
}
/* SHOW PAGE END */

/* FOOTER START */
footer{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* FOOTER END */

@media screen and (max-width: 993px) {
  .container{
    min-width: 650px;
  }
  .show-page{
    flex-direction: column;
  }
}

